.inputTitle {
    display: flex;
    padding: 10px;
    font-size: 25px;
    font-weight: 500;
    margin-left: 10px;
}

.inputTitle span {
    width: 160px;
}

.results {
    margin-top: 30px;
    margin-left: 10px;
    list-style-type: circle;
}

body {
    margin-left: 10%;
    /* Disable touble tap iOS */
    touch-action: manipulation;
}

.description {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: #04AA6D; /* Green */
    border: none;
    border-radius: 12px;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: rgba(24, 131, 24, 0.952);
}
